[2015-01-14 08:31] mgedmin opened #1 "E154: Duplicate tag "vim-fetch" in file .../vim-fetch/doc/vim-fetch.txt"
If I add `Plugin "kopische/vim-fetch` to my .vimrc, source it, and run `:PluginInstall`, it reports an error while running helptags.

If I run `:helptags ~/.vim/bundle/kopische/vim-fetch/`, I get

[code]

[2015-01-14 08:47] kopischke commented on #1
Yeah, my bad: I had a brainfart and tried to use Markdown italics. Will fix ASAP.

[2015-01-14 10:13] #1 closed, assigned to kopischke

[2015-01-14 10:21] kopischke commented on #1
@mgedmin fixed in latest release. Thanks for reporting!

[2015-01-14 12:59] mgedmin commented on #1
Thank you for the very quick fix!

[2015-01-14 13:26] kopischke opened #2 "Support Plan9 position specs"
From https://github.com/neovim/neovim/issues/1281#issuecomment-69914236, by @fmoralesc:

[2015-01-14 13:39] kopischke commented on #2
@fmoralesc: not sure about the `/` search syntax: nice, but outside the scope of what the plug-in currently does, and maybe really too uncommon a use case to embrace.

Supporting the `#`line number syntax OTOH seems easy, but I want to get this right: according to the [Plan 9 plumb(6) man page](http://plan9.bell-labs.com/magic/man2html/6/plumb), the correct syntax is actually

[code]

meaning ther

[2015-01-14 13:52] fmoralesc commented on #2
@kopischke When I do

[code]

(which was my use-case) it throws error 194 ('no alternate file'). I'm on vim 7.4.567 under linux.

Likewise, for

[code]

vim says "illegal file name". This is not a catchable error. It will open the file, though.

The actual address spec is at http://plan9.bell-labs.com/magic/man2html/1/sam (see "Addresses").

I agree this address syntax can be out-of-spec, which is

[2015-01-14 15:04] kopischke commented on #2
@fmoralesc yeah, I get the exception with the `:#`: `#` is the alternate file token (see `:h cmdline-special`), you need to escape it to use it literally, i.e. do

[code]

to get a new file `~/.vimrc:#12` (I didn’t notice the issue at first because I tested with an existing file and Vim will automatically escape special characters when autocompleting filenames).

As to the `/` exception, I get

[c

[2015-01-14 15:23] kopischke commented on #2
@fmoralesc if I understand [sam(1)](http://plan9.bell-labs.com/magic/man2html/1/sam) correctly, a `null` is used a the separator between file name and line number. As Vim uses null-terminated strings, this amounts to omitting the separator.

The way I see it, vim-fetch would need to support both `/path/to/file.ext:#lnum` and `/path/to/file.ext#lnum` (besides `/path/to/file.ext:lnum`, which it alre

[2015-01-14 15:31] fmoralesc commented on #2
I believe the `:` should start the address, I don't think `path#char` is ever used.

There must be some differences between path handling on OSX and linux, because that is not the behavior I get. :/

[2015-01-14 17:47] #2 closed, assigned to kopischke

[2015-01-14 18:01] kopischke commented on #2
@fmoralesc added in [newest release](https://github.com/kopischke/vim-fetch/releases/tag/v1.1.0).

[2015-01-14 20:12] fmoralesc commented on #2
Cool! ;)

[2015-01-14 21:33] justinmk commented on #2
On Mac OS 9 (at least) `:` was the path separator char. Vim (not Neovim) has handling for this, not sure how it would behave on OS X.

[2015-01-14 21:49] kopischke commented on #2
@justinmk Vim on OS X uses what Apple terms _Posix notation_ for paths, e.g. bog standard *nix `/` path separators (I should know, vim-fetch was developed in MacVim, and colon specs work just fine). As to “classic” MacOS, which did indeed use `:` (_HFS notation_ in Apple parlance), I can’t test on it, but the way the plug-in works, colon specs should still work as long as there isn't a subdirector

[2015-02-09 18:55] blueyed opened #6 "Open up fetch API for external usage"
I've just remembered that I have the following in my vimrc:

[code]

This helps when copy'n'pasting a path from a patch / diff header, e.g. from `git diff`.

I think it might be a good addition for vim-fetch, applying all specs with an optional path prefix, too.

It could be limited to just a single char prefix (`a/`, `b/`, `i/`, `w/`, ...).

[2015-02-10 00:26] kopischke commented on #6
I’m wondering if that is not best handled by `gF`, but I may be missing something. I get what the snippet does (the same thing as _vim-fetch_, but with less jumping through hoops), but I’m not sure I grasp the usage case. Could you explain what you want to achieve in some more detail?

[2015-02-10 06:57] blueyed commented on #6
Yes, it's also a case for gf/gF, but those do not work when opening Vim.

My use case is using git or some other tool in the terminal, then copying some path from a patch output and starting Vim with it.  This usually means to start Vim using `vi a/path/fo/file`, where the file is `./path/to/file`.

[2015-02-10 07:57] kopischke commented on #6
OK, never mind the `gF` part, I got thrown  by your mention of `vimdiff`; could you give me some samples of patch  / diff tools which do this, as well as of their respective output format? That syntax is not standard `patch` format (either normal, context or unified) as far as I can see, so I’m still very hazy on the usage specifics.

EDIT: I only just noticed you mentioned git (sorry, early morni

[2015-02-10 08:26] blueyed commented on #6
Yes.

Another example are patches in Debian packages, which (at least used to be) commonly applied using `patch -p1` to strip the first prefix.

[2015-02-10 09:03] kopischke commented on #6
Correct me if I’m wrong, but none of these actually include position information, right? This is about guessing the correct file **path** only from a contextually truncated format?

[2015-02-10 12:25] blueyed commented on #6
Yes.

[2015-02-10 13:25] kopischke commented on #6
Thought so. I’m not sure that is a good fit for _vim-fetch_ – I think I’d rather have it remain focused on jump specs. However, I have a few ideas about how  to make _vim-fetch_’s heuristics available outside the plug-in’s scope. For instance, instead of passing the key to a hardwired matcher, one could make its API accept arbitrary handlers, so you could do something like

[code]

in your `.vimrc

[2015-02-10 21:36] blueyed commented on #6
Ok.

That looks good!

[2015-02-23 17:47] kopischke commented on #6
I’m on the fence about this; with the extension of their capabilities to `gF` in release 2.0, _vim-fetch_’s specs have gotten more intricate, if anything. As things stand, opening up the API for arbitrary specs looks like an excellent way to shoot yourself in the foot. Maybe I’m being paranoid, but I’d rather not have users figuratively bleeding from holes in their appendages yelling and cursing a

[2015-02-25 10:48] kopischke commented on #6
Another possible way would be to modularise the internals of `fetch#buffer()` and API-fy the modules, allowing for something like (function names tentative):

[code]
- **Pro**: no need to expose the rather tricky spec handling to users
- **Con**: this is only needed for external usage – no function but `fetch#buffer()` needs this internally

And then there is the option of creating another plug-in

[2015-02-25 10:58] kopischke commented on #6
I’ve removed this from the 2.0 release milestone, but will leave the issue open for discussion for the time being.

[2015-03-10 15:29] kopischke commented on #6
Closing, but kept in mind for future consideration.

[2015-03-28 01:39] sunaku opened #7 "gF doesn't open visually selected file:line:column in pwd"
Hello,

I have a `LICENSE` file in my present working directory and this text in my buffer:

[code]

Visually selecting the line (by typing `V`) and then typing `gF` raises this error:

[code]

Moreover, putting the cursor at the beginning of the line (on the `L`) and typing `gF` just opens the `LICENSE` file while completely _ignoring_ the line and column information.

Thanks for your considerati

[2015-03-28 08:01] kopischke commented on #7
The behaviour in visual mode is expected: you have to select the file name only (i.e. “LICENSE”) for it to work. That is how Vim’s built-in `gF` works, and _vim-fetch_ tries to extend, but not modify, built-in behaviour. Think of the selection as telling Vim “all of this is the file name, never mind that it contains characters not in `isf`”.

This, however, is most definitely **not** expected beha

[2015-03-28 15:31] kopischke commented on #7
I cannot reproduce this – in my tests, `gF` worked exactly as expected, jumping to the specified line and column. Could you check  that you are actually executing _vim-stay_’s `gF` for me, please? Specifically, `nmap gF` should output:

[code]

– note this needs to be an upper case “F”: lower case `gf` ignores jump specs. Also, do make sure that `LICENSE` actually has 9 or more lines of content: i

[2015-03-30 15:46] sunaku commented on #7
Yes,  `:nmap gF` shows me:

[code]

In normal mode, putting the cursor on `L` and typing `gF` does the right thing (it jumps to line 9, column 15).  However in visual mode, with `LICENSE:9:15` selected, it does not work [as shown in this log file](https://gist.github.com/sunaku/07b3634dcf9f6c8788c3) created by these commands:

[code]

I hope this helps. :sweat_smile:

[2015-03-30 17:21] kopischke commented on #7
Good to hear it works in normal mode for you too :). For visual mode, you need to select **only the file name part** (i.e. ‘LICENSE’, **not** the ‘:9:15’ spec). This is how visual `gF` works in Vim without _vim-fetch_ too: everything you select is considered to be the file name, line and column specs must come **after** that.

[2015-03-31 16:47] kopischke commented on #7
Closing as this is designated behaviour. Let me know if there is anything else I can help with.

[2015-03-31 16:47] #7 closed, assigned to kopischke

[2015-05-19 19:05] tscheffert opened #8 "When "Opening File to Line", Requests "Press ENTER or type command to Continue""
Note: It does open the correct file, without any excess buffers or files, after the mentioned screen.

I'm unsure if this is an actual issue, but I didn't see it in the example gif and didn't see it addressed anywhere else, so I'll bring it up. I imagine it's a common issue and could be added to the documentation at least.

In my terminal I entered:

`mvim .vimrc:250`

and got the following (captu

[2015-05-19 19:10] tscheffert commented on #8
Also, I haven't yet gone through the hoola hoops of trying to launch with a clean `.vimrc` and only this plugin the bisecting until I find the culprit. I was hoping that this is a common issue and there is some known setting I can change to bypass the screen. But, I would be glad to to that if this scenario is unfamiliar and it becomes the suggested first step.

[2015-05-19 21:14] kopischke commented on #8
I’m sorry to say this is a new one to me. I can understand **what** happens (a spurious new file is loaded, echoing the first message, then _vim-fetch_ switches it out for the correct one, echoing the second message, which leaves you with two message lines and thus Vim’s dreaded “Press ENTER to continue” prompt[1]), but I’m not sure **why** it happens for you. Tentatively, could you `set noshowcmd

[2015-05-21 15:50] tscheffert commented on #8
Applying `set noshowcmd` did not get rid of the issue unfortunately. I got rid of `set showcmd`, added `set noshowcmd`, and double checked that the value was correctly set with `set showcmd?` which correctly echoed `noshowcmd`.

[2015-05-21 16:36] tscheffert commented on #8
Figured it out. It's [line 580](https://github.com/tscheffe/dotfiles/blob/7714f3806bdb9ef5187cd25af0eaeaf11e4af09f/.vimrc#L580) which is

[code]

### To Reproduce

For whatever reason `shortmess` requires either `o`, `O`, or `oO` to be included. You can use

[code]

to see the issue hopefully. Removing just one of the two won't work, both have to be gone for it to break.

#### Why?

`help shortmes

[2015-05-21 16:52] kopischke commented on #8
Great sleuth work, thanks for the feedback! I think I will temporarily add `o` to  `shortmess` while switching files. Leaving the issue open until I handle this.

[2015-05-31 16:45] #8 closed, assigned to kopischke

[2015-05-31 16:58] kopischke commented on #8
Fixed in ce1bfadb9120c92794534d995cd44b0ec6f6fb3e. Thanks again, @tscheffe!

[2015-06-16 00:48] justinmk opened #9 "gF fails when &isf contains spec characters"
Using the default vim-fetch settings, `gF` on `foo.py:46:` in the following text fails for me (Vim 7.4.618):

[code]

Error:

[code]

Yet `:edit foo.py:46` **does** work.

But `:edit foo.py:46:` (with colon at the end) fails. These also fail:

[code]

If I unmap `gF` so that the default Vim `gF` is used, it _also_ fails with the same error. I'm guessing this is the problem, but since `:edit foo.py

[2015-06-16 06:40] kopischke commented on #9
Actually, _vim-fetch_ is not using Vim’s `gF` (it uses `gf` to fetch the file, then manages the jump on its own). The errors happen independently, albeit for the same reason: `foo.py:46` is misidentified as the file name to search for.

In the case of the plugin this seems to be due to an error in the jump pattern regex. I’ll try to get to the root of this as soon as I am at my machine again, whic

[2015-06-16 07:25] kopischke commented on #9
Just to confirm something before I get to investigate further: what is the output of

[code]

at the problematic position?

[2015-06-16 16:27] justinmk commented on #9
Output is

[code]

(lacks the trailing colon)

[2015-06-21 13:43] kopischke commented on #9
The output of the same command on my system is

[code]

which would indicate that `gF` fails because your `&isf` includes `:`, either because your are on Windows (that would be a new one, I had you pegged as an OS X user ;)), or that you / one your plugins  added `:` to that (default on *nix systems is  `@,48-57,/,.,-,_,+,,,#,$,%,~,=`). If that is the case, the root bug is that I failed to account

[2015-06-21 18:43] justinmk commented on #9
Yes, I was on Windows :) I use all of win/osx/unix on a regular basis. I'll try to isolate it when I get back to a Windows machine.

[2015-06-21 20:33] kopischke commented on #9
No need to confirm the value of `isf` if you were on Windows – the default there includes `:`. I’m still very much interested in the exact error / log of the `:edit` failure, however. In your own time, I’m unlikely to be able to get back to this before next weekend anyway :).

[2015-12-21 17:17] Lekensteyn opened #11 "Presence of swap files results in "Error detected while processing function fetch#buffer""
When a swap file is present and vim-fetch is activated, an error is reported:

[code]

Steps to reproduce:
1. `touch foo && vim foo`
2. `mv .foo.swp .foo.tmp`
3. Quit vim (`:q`)
4. `mv .foo.tmp .foo.swp`
5. `vim foo:1`
6. Chose option `[O]pen Read-Only`, `(E)dit anyway`, `(R)ecover`, `(D)elete it` or `(Q)uit`. These trigger an error. Option `(A)bort` is unaffected.

[2015-12-21 17:37] kopischke commented on #11
Thanks for bringing this to my attention: I wasn't even aware Vim wraps the swap recovery process in an exception until now. That exception being triggered in mid function call when you use _fetch_, things go awry; I’ll have to see what the most elegant way of bowing out is in that case, but this definitely should be fixable.

[2015-12-23 11:29] kopischke commented on #11
@Lekensteyn as I won’t have the opportunity to reproduce this for a few days at least, could you tell me what error exactly is triggered by choosing any recovery option but `(A)bort`? Thanks!

[2016-03-06 12:50] kopischke commented on #9
@justinmk I am at long last getting to handling this (turns out it necessitates a lot of refactoring to solve cleanly). Watch out for release 2.1.

[2016-03-09 00:53] justinmk commented on #9
@kopischke Worth the wait ;)

[2016-03-17 20:26] blueyed opened #12 "Handle prefixes from (git) diff"
I've thought that we've talked about this before, but could not find it now.

I am using the following snippet to be able to open files from e.g. `git-diff`, where the prefix is ignored.
It seems to be a good fit for this plugin?!

[code]

[2016-03-18 16:40] kopischke commented on #12
Yes we did, actually, in #6 (I had to look for it too, the topic of the issue is a bit generic). I am still not sure if interpreting paths is not best left to `&includeexpr` and friends, but as I am currently reworking _fetch_ to handle #9 and the refactoring needed for that has taken me 90 % of the way towards user configurable specs, I might go the last mile for the next release and open up the

[2016-03-18 16:42] kopischke commented on #12
Closing as duplicate, but stay tuned for the next release.

[2016-03-18 16:42] #12 closed, assigned to kopischke

[2016-09-16 10:04] blueyed opened #13 "Provide API to just resolve specs"
I've thought to use this plugin to get the filename under the cursor in a quickfix list, and then `:edit` it after `wincmd w`.

From a quick glance `fetch#cfile` does this, but the command to be executed is hard-coded to `gf`/`gF` already.

It would be great to have an interface where the filename that would be understood by vim-fetch would be returned: empty would mean that vim-fetch (and `gf`/`g

[2016-09-16 15:57] kopischke commented on #13
That is a) definitely possible and b) a major refactoring of the codebase. Before undertaking it, I would like to understand your exact use case. Is it just a matter of using _fetch_ to parse a spec’ed `<cfile>` back into a usable file name? Or is there something else I am missing from your description?

[2016-09-16 20:11] blueyed commented on #13
What I want is to basically use the improved `gF` from a quickfix window, and control where it gets opened - e.g. in the previous window (after `wincmd p`), or a new tab.
For the most control I would like to get the matching spec (trying all, or by providing a list) and then a method to do what vim-fetch does itself given this spec to open the file.

My hack for this is the following in `~/.vim/af

[2016-12-06 08:39] valery-reznic opened #14 "More buffers than expected"
I am using vim-fetch like following:
[code]

So vim invoked like
[code]
Turns out following:
1. When vim started it open file1 at line 12
2. After first `:n` it  open file1 at line:23 (as expected)
3. After second `:n` instead of opening file2 at line 33 it again opened file1 at line:23
4. Third `:n` open file2 at line 33 (expected after second :n)

[2016-12-06 13:12] kopischke commented on #14
Huh, that is odd. Could you please deactivate _vim-fetch_ and repeat the experience? You will get a bunch of spurious empty buffers called `file1:12` etc. I am interested in learning if the buffers are duplicated as above without _fetch_ resolving them too.

[2016-12-06 13:31] valery-reznic commented on #14
I deactivated vim-fetch and run
vim file1:12 file1:23

I got empty file (file1:12).
After :n I got empty file (file1:23)
After second :n I got "E165: Cannot go beyond last file"
Everything as expected

[2016-12-14 07:29] valery-reznic commented on #14
Something new here? Do you need more info from me?

[2016-12-14 12:21] kopischke commented on #14
Yes and no, sorry for the delay: I meant to test why you consider `E165` “normal” by checking if (and  how) it also happens on my system, but I have precious little time for Vimming ATM.

[2017-12-04 14:20] blueyed opened #15 "pytest: support for node ids in general"
Currently only `::method` is matched, but there is also `::Class::method`, and e.g. `test_pytest_param_example.py::test_eval[1+7-8]`.

As for matching the `::Class` I think using the normal command `/` instead of `search()` might work - using two patterns (`/^\s*class Class;/\s*def method`).
Currently `s:setpos` only supports calling a function though - are you up for changing this?
(I do not thin

[2018-02-07 11:44] bazz1tv commented on #11
For anyone who wants to use the fix before Release 2.1 comes out, do from a new branch
`git pull origin fix/swap-exception`

[2018-02-13 17:28] ghost opened #16 "gF works but c-w f doesn't"
`<c-w>f` doesn't take me to the line number within the file, whereas `gF` does, but only within the same window.

My use case is, from bash, going:

[code]

which gives me a list of files.  If i were to `gF` on a result, I get the `yes/no/cancel` dialog to confirm I want to lose that page forever.  I don't - hence my use of `<c-w>f` to open the result in another window. Ideally vim-fetch would do

[2018-02-15 16:55] kopischke commented on #16
Duh, I wasn’t even aware of the `CTRL-W` file lookup commands until now. This looks tricky as the commands perform a lookup of the file before splitting, so _vim-fetch_ will have to override the whole operation. I’ll file your suggestion under future enhancements, but I must warn you I cannot provide an ETA, as I have no inkling of when I will have time to invest into this plugin again.

[2018-02-19 11:42] ghost commented on #16
That's ok - workaround is just to do:

`<c-w>vgF`

[2018-02-27 18:45] sbeyer opened #17 "Does not work with multiple files"
The vim invocations
[code]
only opens file1 at line 23 (in the second example: twice!) instead of file1 at line 23 and file2 at line 42.

[2018-02-28 08:49] kopischke commented on #17
I’ll have to try to repro, as that would be a major regression (_fetch_ was specifically designed and tested to handle multiple files). Did you try this without any plugin and .vimrc customisations but _fetch_?

[2018-02-28 19:48] sbeyer commented on #17
To test this, I made a .vim directory for testing, as follows:
[code]

I bisected the issue: 41291b30e277a46838997aa2594f3b8b94168b7e is the first commit where it cannot handle multiple files.

[2018-02-28 21:51] kopischke commented on #17
Good news: I can repro on my side. Bad news: the culprit is not the commit you bisected but changes in Vim itself; I tested with the macOS provided Vim version (7.4.8506*), and that old-timer handles multiple files with _vim-fetch_ just fine, while my (Mac)Vim 8.0.1502 fails to do so.

If you are wondering why this is bad news: you might have noticed there have been no commits to this plugin for,

[2018-02-28 21:54] kopischke commented on #17
Not to self and other takers: #14 sounds like it might be related, if not outright the same issue.

[2018-02-28 21:55] kopischke commented on #14
Possible duplicate of #17.

[2018-02-28 22:30] sbeyer commented on #17
Okay. But still: when I checkout 408a2dc (the commit before the bad one), it works fine for me (Vim 8.0 on Debian GNU/Linux).

So I reverted commit 41291b3 on current master, fixed the conflicts and now I have this commit and it works:
[code]

[2018-02-28 22:39] kopischke commented on #17
I’m glad if that works for you; at the time 41291b3 was committed, the extra window event processing caused some problems for buffer and arglist handling with _fetch_ active, which is why I cut it. That might not be the case anymore, of course, considering the whole foundation seems to have subtly shifted…

[2018-02-28 23:00] kopischke commented on #17
BTW, only the failure to handle the split window call is actually a bug; the fact that your `vim file1:23 file2:42` call only opens `file1` is Vim working as designed. As it happens, your `file2` is on the buffer list (still adorned with its column indicator) and will be processed by _vim-fetch_ when actually loaded into a window. The first item in the troubleshooting section of _fetch_’s help men

[2018-02-28 23:05] sbeyer commented on #17
Good that you say that. When I use the `:n[ext]` command when file1:23 is open, it says "Cannot go beyond last file". It did so before my "fix" and it does so after the fix. (*edit*: However, file1:23 and file2:42 are in the buffers list, so that is fine. Just in the wrong direction, I have to use `:p[rev]`. This is before and after my fix.) So as you say, my fix only works for the split window ca

[2018-02-28 23:14] kopischke commented on #17
It will work fine if you use buffer commands (i.e. `:bn[ext]`) instead of arglist commands; those are failing because _fetch_’s arglist futzing does not work as expected: it should insert the resolved file at the index of the original spec, but it seems to append it instead (which would be the issue #14 is about, now that I think about it).

EDIT (note to self): futzing appends a spurious duplicat

[2018-02-28 23:29] kopischke commented on #17
Honestly? Because Vim is a decade old beast, a crusty steam engine made of technical debt with extension points haphazardly bolted onto it. Its core editing model (composable syntax, text objects, ex commands) is f****tastic, but the technical platform is painful to work with.

[2018-03-01 21:56] kopischke commented on #17
Because I  can’t let go of stuff (and, accessorily, because the flu stops me from doing more productive work) I have been testing permutations of autocommands and multiple file edits. The bad news is: reverting  41291b3 only helps for a combination of two files; try three or more and things still fail. The worse news is that no other combination I can think of works (despite the fact that, adding

[2018-03-02 17:57] sbeyer commented on #17
You are right. This is so f**ked up.

[2018-03-03 12:52] kopischke commented on #17
Yeah, apparently switching a buffer out stops any further processing of the triggering autocommand; the revert alleviates the situation because it makes _fetch_ trigger on different autocommands for the first two files, but after that, you are, as you aptly stated, f***ed.

[2018-03-03 12:59] kopischke commented on #17
Heretical, but not entirely unrelated, thought: have you had a look a Atom lately? I find myself liking it more and more, not least because their dev team is willing to think about APIs and does not shy from breaking backwards compatibility; they have essentially obviated most of their package ecosystem in the last six months, and yes, that is a good thing, think [Language Server Protocol](https:/

[2018-03-03 23:09] sbeyer commented on #17
I once looked at it because it was hyped in some way but (1) I want an editor that also works in a terminal because I also want to code in ssh sessions, and (2) I want an editor that does not eat half of my CPU/memory. Vim's IDE capabilities are limited, though, so I am willing to check other editors but I doubt that Atom will be my choice. Maybe I should switch to Emacs :dagger:

[2018-03-04 12:02] kopischke commented on #17
I see where you are coming from; I’ve always been a GUI Vim user myself, so Atom seems less of a jump, especially now that their startup speed has very much improved and resource usage is down to something bearable.

More to the point, I have good news: I think I have found a way to make _fetch_ work reliably both on Vim 7.4 (or even older versions of Vim 7, but I can’t test these) and Vim 8. I wo

[2018-03-04 12:54] kopischke commented on #17
Now _that_ is a heretical thought 😝 .

[2018-03-04 13:38] kopischke commented on #17
@sbeyer could you please test the `release-3.0.0` branch?

[2018-03-04 14:07] sbeyer commented on #17
Thank you @kopischke.

I've tested `vim file1:23 file2:42 file3:5 file2:12 file3`. It worked with `:n` and `:bn` as expected. One minor thing: the last buffer (file3) was also at line 5. If I exchange `file3:5` and `file3`, everything works as expected.

When adding `-o` or `-O`, everything works as expected.

I've also tested this using lines that do not exist and it works as expected.

Thanks, g

[2018-03-04 14:11] kopischke commented on #17
Huh. Must check that, it sound like it could get annoying fast. Thanks for taking the branch for a whirl!

[2018-03-04 14:19] sbeyer commented on #17
If it's not easy to fix, keep it that way. That was an artificial test example. In reality, I'd always have either all files with line information or all files without line information. (Also there is no problem with `-o`.)

[2018-03-04 14:38] kopischke commented on #17
Could you post the output of `:args` when that happens here? I have an inkling what happens and might be able to eliminate that glitch if I am right.

[2018-03-04 15:13] sbeyer commented on #17
Output of `:args`: `[file1] file2:42 file3:5 file2:12 file3`

Another very minor issue is that vim says: `"file1:23" [New File]` when opening the file. (But it's not a new file.) It's just the output that is wrong, saving and re-loading works without problems.

[2018-03-04 15:19] kopischke commented on #17
Ah, I should have been more specific: I need the output of `:args` **after** you have switched to `file3:5`, and, for good measure, the same thing after switching a second time, to `file3`. Also please do tell how exactly you switch (`:next`?).

When exactly does it say that? Technically, that **is** a new file  `$pwd/file1:23`, which _fetch_ then swaps out, but I can see how that message could be

[2018-03-04 17:50] sbeyer commented on #17
`file1 file2 [file3] file2:12 file3`

`file1 file2 file3 file2 [file3]`

The output above comes from `:next`. When I use `:bn`, the output at `file3:5` is the same, but when I do the next `:bn` things get weird:
* The next `:bn` goes to `file1` again but `:args` still shows `file1 file2 [file3] file2:12 file3`
* the next `:bn` goes to `file2:42` again but `:args` still shows `file1 file2 [file3] f

[2018-03-04 19:02] kopischke commented on #17
That seemingly odd behavior of the buffer list is expected: when _fetch_ swaps out the spurious `name:XXX` buffers, some of these turn out to be identical (i.e. `file3:5` and `file3` are both `file3`), which means they will only appear once in your buffer list (which, unlike the argument list, cannot contain duplicates: a buffer is either atomically open or absent from the list). That also explain

[2018-03-04 19:04] kopischke commented on #17
No worries, you have ben amazingly responsive; I just happen to have a lazy Sunday on my hands 🤓 .

[2018-03-04 22:04] sbeyer commented on #17
`shortmess=filnxtToOc`

[2018-03-04 23:10] kopischke commented on #17
Huh. Hmmm. Oh, I think I know where that comes from…

[2018-03-05 17:34] kopischke commented on #17
@sbeyer I pushed some fixup commits meant to restore normal message functionality (the `"file1" 115L, 307C` message). Could you test if the current branch head works as expected? Just pull the `release-3.0.0` branch again.

[2018-03-05 20:28] sbeyer commented on #17
Now there is a short moment where it shows the "[New file]" thing (I guess vim adds a short delay for that message) and then everything is fine. It only does that for the first file, so the delay is not an issue.

[2018-03-05 20:36] kopischke commented on #17
I didn’t notice the “new file” message myself, but that might be a latency issue. As I said before, there actually is a new file, it’s just that in normal operation mode, its loading message will be overwritten when _fetch_ swaps the buffer out…

I will file this under “all is well”, then; thanks a lot for your patience and helpfulness!

[2018-03-05 21:13] sbeyer commented on #17
Thanks a lot to *you* for fixing the bug and make using vim a pleasant experience (although you do not use vim yourself any longer). ;)

[2018-03-05 22:53] #11 closed, assigned to kopischke

[2018-03-05 23:12] kopischke commented on #14
Fixed in ef8a8e78f9bb724ca0fd2bd0b4e39d3e12487832.

[2018-03-05 23:12] #14 closed, assigned to kopischke

[2018-03-05 23:12] kopischke commented on #17
Closed by ef8a8e78f9bb724ca0fd2bd0b4e39d3e12487832.

[2018-03-05 23:12] #17 closed, assigned to kopischke

[2018-03-07 00:05] wsdjeg opened #20 "Transfer of project ownership"
Hi, I am Wang Shidong. and I have use Vim for many years. I am also the author of [SpaceVim](https://github.com/SpaceVim/SpaceVim). I just find this project via twitter. It is a useful plugin and I want to usd this project in SpaceVim. That means I will continue the work of this project.

Thanks for all your work of this project. :)

[2018-03-07 07:22] kopischke commented on #20
Hello @wsdjeg, I am very happy to hear that; SpaceVim is quite an impressive project, I would be glad to see _vim-fetch_ in such good hands. I am a bit busy ATM, but I aim to compile a set of cliff notes about the state of the plug-in this week, both about the how and why of its operation mode (beyond what is in the comments already, as these do not document all the false starts and inoperative va

[2018-03-07 07:25] wsdjeg commented on #20
If you have any ideas or todo list about this project, you can also list them here. I will try to implement them. :)

[2018-03-07 07:37] kopischke commented on #20
The gist of that is in the [Future Plans milestone](https://github.com/kopischke/vim-fetch/milestone/4) – I’ll expand on that in my notes.

[2018-04-28 18:25] kopischke commented on #20
Hello @wsdjeg, and apologies for having taken so long, real life has been interfering quite a lot lately. In case your are still interested in taking over maintainership of _vim-fetch_, here are the cliff notes.

### Windows support needs some love
- handling of backslashed / non-backslashed Windows paths is untested and probably unreliable. There is an open PR with a fix for one scenario that may

[2018-05-03 22:03] kopischke commented on #20
… as to the how and why the plug-in operates as it does, I could write a treatise, but the gist of it is in the comments to the autocommands in [plugin/fetch.vim](https://github.com/kopischke/vim-fetch/blob/master/plugin/fetch.vim):

- manipulating buffers in autocommands during the Vim startup sequence does not work reliably, or mostly even not at all. This would not be an issue if the plugin onl

[2018-05-04 14:04] wsdjeg commented on #20
of cause I would like to finish these features, I like the idea of this plugin. I could spend 5-10 hours a week for implementing feature and solving issue for this plugin.

- the test framework: I will use vader, travis for linux and Mac, appveyor for windows

[2018-05-04 21:34] kopischke commented on #20
That sounds very good, @wsdjeg; I am glad to see _fetch_ go to such good hands. ~I have initiated the transfer; if I read Github’s help on this correctly, you should be asked to approve the transfer, which you will need to do in 24 hours for it to complete.~

EDIT: Turns out I can’t transfer the repository because [you have forked it](https://github.com/wsdjeg/vim-fetch-forked); you will need to d

[2018-05-05 06:52] wsdjeg commented on #20
OK I will delete the forked repo

[2018-05-05 08:46] kopischke commented on #20
@wsdjeg transfer has been initiated.

[2018-05-05 10:07] kopischke commented on #20
@wsdjeg looks like transferring left me with commit privileges, which I have availed myself of to update [the README](https://github.com/wsdjeg/vim-fetch/commit/b4599104e7e92607e75db7910a8ec3712a2f0281), [the LICENSE](https://github.com/wsdjeg/vim-fetch/commit/f346721454f5ab7359cd9d54ac58f21f1b6b00c4) and [the plug-in documentation](https://github.com/wsdjeg/vim-fetch/commit/1ed72d43b4007034d2854f

[2018-05-05 14:00] wsdjeg commented on #20
@kopischke I do not has vim.org account, and Maybe use the old link is enough. should I create a new account? I think the plugin in vim.org needs to be updated  when we release new version.

[2018-05-05 14:45] kopischke commented on #20
Actually, I’m wondering how much mileage the plug-in gets out of Vim.org; do people really still use the scripts list that much in 2018? Maybe updating the old script page to say “anything from here on is Github only” would be enough?

Right, let’s defer that decision until you cut a new release.

[2018-05-05 15:56] kopischke commented on #20
I have added an explanatory paragraph to [the Vim.org listing](https://www.vim.org/scripts/script.php?script_id=5089)

and corrected the links visible there (GitHub thankfully takes care of redirecting all links I cannot amend), which should hopefully be enough. All that is still needed is an email address for the CoC, and we can consider transfer complete and close this issue.

[2018-12-25 00:48] wsdjeg commented on #9
I start to use Windows os. in my plugin flygrep, I get same error, and I have fixed it. so I will do it here.

[2018-12-25 01:02] wsdjeg commented on #13
yeah, a nice feature request. Maybe be this plugin could provide a function and accept a dict argv:

[code]

with this function, user can create there own mappings.

for example,

[code]

[2019-03-20 02:31] igrep commented on #9
I'm also very interested in the status of this issue. What's the problem with the `fix/gf-isfname` branch?

[2019-11-10 12:50] Avi-D-coder opened #25 "Occasionally file decoding breaks"
In this case `nvim src/lib.rs:121:23` broke everything, but `nvim src/lib.rs:121:23:` and `nvim src/lib.rs:121:22` worked. Sometimes the trailing colon causes breaks to. The files are standard UTF-8 ASCII characters only.
![Screenshot_20191110_074120](https://user-images.githubusercontent.com/29133776/68544149-31904800-038e-11ea-8f77-8a156f1a93e0.png)

[2019-11-13 20:50] Avi-D-coder commented on #25
To reproduce run `nvim --> afile:1:1` a file called `afile:1:1` will recreated it will be corrupt. If you then run the correct command `nvim afile:1:1` you will open that corrupt file.

[2020-09-26 19:18] aca opened #27 "cannot jump when cursor is on line number"
[code]
If cursor is on the 665, we cannot jump to the file with error
[code]

It would be much better if we can jump to the file even if cursor is at line/column number.

[2020-09-30 11:44] wsdjeg commented on #27
What is your vim version and os?

[2020-10-01 12:35] aca commented on #27
@wsdjeg
[code]
https://github.com/wsdjeg/vim-fetch/blob/dd674b50b261275a6a75cab6929b7bb7c5c4acba/autoload/fetch.vim#L185

After cursor ':' . This is expended to :665~
Native vim gF also doesn't handle  this correctly, but It would be helpful if this plugin can solve this.

[2020-10-06 13:04] kristjoc opened #28 "vim-fetch not working when running vim from a different path than the file"

[2020-10-06 13:06] kristjoc opened #29 "vim-fetch not working when running vim from other path"
`vim path/to/file.ext:12:3` opens a new file rather than jumping to specific line and column.
When I `cd path/to/file/` and then `vim file.ext:12:3` it works.

Installed the Plugin via vim-plug

[2020-10-06 17:42] #29 closed, assigned to nobody

[2020-10-06 18:08] #28 closed, assigned to nobody

[2020-12-22 19:01] gypsyhut opened #30 "Support for new format"
Is it possible to add support for (filename.ext,177|28) type of error logs? This line means, we should be able to go to line 177 and column 28.

[2021-02-02 08:15] elad-eyal opened #31 "install problem"
is it intentional that sourceing v3.0.0 vimball creates the files under `~/.vim/Users/martin` ? (I'm Using  Windows , WSL, vim 8.0)

[2021-02-02 08:45] kopischke commented on #31
Nope; that’s on me messing up Vimball generation while I was still the maintainer. As I’m not anymore, all I can do is apologise and defer to @wsdjeg.

[2021-02-02 10:11] elad-eyal commented on #31
You can create the vimball inside a "github workflow" nowadays. It's quite nice.

I can confirm that removing the string `/Users/martin/Werkbank/Projekte kopischke/vim-fetch/` from line start the tarball made things install well for me (using `source %`)

[2021-02-10 03:25] wsdjeg commented on #31
I do not see any vimball script in this repo, what can be done in this repo?

[2021-02-10 07:49] kopischke commented on #31
@wsdjeg there are Vimballs for download on the release page.

[2021-02-10 13:18] elad-eyal commented on #31
For example I thing you can see this page https://medium.com/faun/automate-your-build-release-with-github-actions-367c0febf5fd

Automatic creation of the vimball for vthe release

[2021-02-10 14:06] wsdjeg commented on #31
Ok, Thanks, I will check it.

[2021-02-12 12:41] wsdjeg commented on #20
Ok, I will update the email address in CoC.

[2021-02-12 12:51] #20 closed, assigned to wsdjeg

[2021-02-20 14:30] aca commented on #27
[code]
Foolish workaround for this.

[2021-02-20 14:42] wsdjeg commented on #27
That means we should not use ` expand('<cfile>')`, we should implement a new  function to get the file path of under cursor.

[2021-11-16 04:05] zaiqiang-dong opened #32 "curser will goto tarbar window"
The tagbar will auto open with "autocmd FileType * call tagbar#autoopen(1)", when open whith  "vim include/linux/locallock.h:233:3" the curser will goto tarbar window.
![screenshot](https://user-images.githubusercontent.com/10396859/141902455-1bd9f766-3fc1-474d-bef3-f88de0a6dfe7.png)

[2022-08-12 01:57] telotortium opened #33 "Opening files on command line doesn't work"
`vim dist/index.js:155:9` tries to open a new file on the command line. `vim dist` and then running `:e index.js:155:9` works as expected.

vim-fetch commit: 0a6ab17e84c7f4808bf05ec380121bce40b40d21
vim --version

[code]

[2022-08-12 02:06] telotortium commented on #33
Figured it out - my vimrc had the following autocmd within it, which broke the plugin:

[code]

[2022-08-12 02:06] #33 closed, assigned to nobody

[2022-08-12 02:36] telotortium opened #34 "line and column not updated correctly when vim-stay is installed"
With https://github.com/zhimsel/vim-stay installed, `vim dist/index.js:155:9` will open `dist/index.js`, but at the beginning of the file. `vim dist` and then running `:e index.js:155:9` also doesn't work as expected - we open at the beginning of the file.

vim-fetch commit: 0a6ab17e84c7f4808bf05ec380121bce40b40d21
vim-stay commit: 1d0f9145b23cb657ac70dcefb9888f2df5b7e57c
`set viewoptions=curdir,c